html body {
  background-color: powderblue;
}

/* toolbar settings */

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 5vh;
  width: 95%;
  left: 2.5%;
}

li {
  float: left;
  width: 25%;
  padding: 10px 0;
  text-align: center;
}

li a {
  display: block;
  color: powderblue;
  text-decoration: none;
  transition: all .4s;
}

/* Change the color of the link on hover */
li a:hover {
  transform: scale(1.2);
}

/* Add a gray right border to all list items, except the last item (last-child) */
li {
  border-right: 1px solid white;
}

li:last-child {
  border-right: none;
}

h3 {
  font-weight: bolder;
  color: white;
  position: fixed;
  top: 18vh;
  left: 2.5%;
  letter-spacing: 20px;
}

h4 {
  font-style: italic;
  font-weight: bold;
  color: white;
  position: fixed;
  top: 22vh;
  left: 2.5%;
  font-size: 15px;
}

h6 {
  font-weight: bolder;
  color: white;
  letter-spacing: 5px;
}

/* quiz page */

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  background: #e6f5ff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;

}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: powderblue;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.grid-one {
  list-style-type: none;
  background-color: white;
  position: fixed;
  top: 25vh;
  width: 25%;
  left: 2.5%;
  padding: 7px;

}


p {
  color: powderblue;
  font-weight: bold;
  text-align: center;
}

.grid-two {
  list-style-type: none;
  background-color: white;
  position: fixed;
  top: 25vh;
  width: 25%;
  left: 38.2%;
  padding: 7px;

}

.grid-three {
  list-style-type: none;
  background-color: white;
  position: fixed;
  top: 25vh;
  width: 25%;
  left: 72.4%;
  padding: 7px;

}

.grid-four {
  list-style-type: none;
  background-color: white;
  position: fixed;
  top: 50vh;
  width: 25%;
  left: 2.5%;
  padding: 7px;

}

.grid-five {
  list-style-type: none;
  background-color: white;
  position: fixed;
  top: 50vh;
  width: 25%;
  left: 38.2%;
  padding: 7px;

}

.grid-six {
  list-style-type: none;
  background-color: white;
  position: fixed;
  top: 50vh;
  width: 25%;
  left: 72.4%;
  padding: 7px;

}

input[type=submit]{
  background-color: white;
  border: none;
  color: powderblue;
  font-weight: bolder;
  left: 44.7%;
  position: fixed;
  top: 80vh;
  width: 12%;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 5%;
}


/* pill box containers */

.grid-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto auto auto auto auto auto;
  left: 2.5%;
  width: 95%;
  height: 50%;
  position: fixed;
  top: 27vh;
  background-color: powderblue;
}

.grid-item {
  background-color: white;
  /* margin: 5px; */
  /* float: center;
  align-content: right; */
  min-height: 20px;
  min-width: 100px;
}

/* .new-pill {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: auto;
  left: 2.5%;
  width: 95%;
  height: 10%;
  position: fixed;
  top: 85vh;
  background-color: powderblue;
} */

/* pills legend */

.pill-container {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: auto auto auto auto;
  left: 2.5%;
  width: 95%;
  height: 10%;
  position: fixed;
  top: 72vh;
  background-color: powderblue;
}

.grid-content {
  background-color: transparent;
  padding: 10px;
  font-size: 15px;
  /* text-align: left; */
}

.pilllegend {
  color: white;
  font-size: 17px;
  /* float: left; */
  text-align: left;
}

/* new pill popup */

#contactForm body {
  margin: 0;
  padding: 0;
  background: #333;
  font-size: 11px;
}
#contactForm h1{ margin: 0; }
#contact {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  background: transparent;
  color: white;
  font-weight: bolder;
  text-align: right;
  cursor: pointer;
}

#contact:hover {
  background: transparent;
}
#contact:active { background: transparent; }

#contactForm {
  display: none;

  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%)

}

input, textarea {
  margin: .8em auto;
  font-family: inherit;
  text-transform: inherit;
  font-size: inherit;

  display: block;
  width: 280px;
  padding: .4em;
}
textarea { height: 80px; resize: none; }

.formBtn {
  width: 140px;
  display: inline-block;

  background: transparent;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}
