html body {
  background-color: powderblue;
}

/* toolbar settings */

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: -webkit-sticky; /* Safari */
  position: fixed;
  top: 5vh;
  width: 95%;
  left: 2.5%;
}

li {
  float: left;
  width: 33%;
  padding: 10px 0;
  text-align: center;
}

li a {
  display: block;
  color: powderblue;
  text-decoration: none;
  transition: all .4s;
}

/* Change the color of the link on hover */
li a:hover {
  transform: scale(1.2);
}

/* Add a gray right border to all list items, except the last item (last-child) */
li {
  border-right: 1px solid white;
}

li:last-child {
  border-right: none;
}

h3 {
  font-weight: bolder;
  color: white;
  position: fixed;
  top: 18vh;
  left: 2.5%;
  letter-spacing: 20px;
}

h4 {
  font-style: italic;
  font-weight: bold;
  color: white;
  position: fixed;
  top: 22vh;
  left: 2.5%;
  font-size: 15px;
}

h6 {
  font-weight: bolder;
  color: white;
  letter-spacing: 5px;
}


p {
  color: powderblue;
  font-weight: bold;
  text-align: center;
}

p.timelabel {
  color: powderblue;
  font-size: 11px;
}


/* quiz page */

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  background: #e6f5ff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;

}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: powderblue;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.grid-one {
  list-style-type: none;
  background-color: white;
  position: fixed;
  top: 25vh;
  width: 25%;
  left: 2.5%;
  padding: 7px;

}

.grid-two {
  list-style-type: none;
  background-color: white;
  position: fixed;
  top: 25vh;
  width: 25%;
  left: 38.2%;
  padding: 7px;

}

.grid-three {
  list-style-type: none;
  background-color: white;
  position: fixed;
  top: 25vh;
  width: 25%;
  left: 72.4%;
  padding: 7px;

}

.grid-four {
  list-style-type: none;
  background-color: white;
  position: fixed;
  top: 50vh;
  width: 25%;
  left: 2.5%;
  padding: 7px;

}

.grid-five {
  list-style-type: none;
  background-color: white;
  position: fixed;
  top: 50vh;
  width: 25%;
  left: 38.2%;
  padding: 7px;

}

.grid-six {
  list-style-type: none;
  background-color: white;
  position: fixed;
  top: 50vh;
  width: 25%;
  left: 72.4%;
  padding: 7px;

}

.quiz {
  background-color: white;
  border: none;
  color: powderblue;
  font-weight: bolder;
  left: 44.7%;
  position: fixed;
  top: 80vh;
  width: 12%;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: 5%;
}


/* pill box containers */

.grid-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 13.65% 13.65% 13.65% 13.65% 13.65% 13.65% 13.65%;
  left: 2.5%;
  width: 95%;
  height: 25.5%;
  position: fixed;
  top: 27vh;
  background-color: powderblue;
}

.grid-item {
  background-color: white;
  /* margin: 5px; */
  /* align-content: left; */
  -height: 20px;
}

/* place pills next to each other  */

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
   width: 50%;
}

.row {
  width: 100%;
}

/* pills legend */

.pill-container {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: auto auto auto auto;
  left: 2.5%;
  width: 95%;
  height: 10%;
  position: fixed;
  top: 73vh;
  background-color: powderblue;
}

.grid-content {
  background-color: transparent;
  font-size: 15px;
  /* text-align: left; */
}

.pilllegend {
  color: white;
  font-size: 17px;
  /* float: left; */
  text-align: left;
}

/* new pill popup */

.newpill {
  top: 65vh;
  left: 90%;
  position: fixed;
}

#contactForm body {
  margin: 0;
  padding: 0;
  background: #333;
  font-size: 11px;

}
#contactForm h1{
  margin-bottom: 5px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
}

#contact {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  background: transparent;
  color: white;
  font-weight: bolder;
  text-align: right;
  cursor: pointer;
}

#contact:hover {
  background: transparent;
}
#contact:active { background: transparent; }

#contactForm {
  display: none;

  padding: 0.5em 4em 0.5em 4em ;
  width: 420px;
  height: 530px;
  text-align: center;
  background: #9dd8e0;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%)

}

input, textarea {
  margin: .8em auto;
  font-family: inherit;
  text-transform: inherit;
  font-size: inherit;

  display: block;
  width: 280px;
  padding: .4em;
}
textarea { height: 80px; resize: none; }

.formBtn {
  width: 100px;
  display: inline-block;
  background: white;
  color: #76c9d4;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2em;
  border: 0;
  margin: 10px;
  height: 35px;
}

/* drag and drop pill shape thing */

.select-style {
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

/* pill container + weekly doses selection */

.check-selector input {
  display: none!important;
}

.check-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 6px;
  background: white;
  height: 40px;
  width: 30px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.check-selector input[type=checkbox]:checked + label {
  background: #76c9d4;
  color: #ffffff;
}
